{% extends "base.html"%}

{% block title%}Home{% endblock%}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/book.css') }}">
{%endblock%}

{%block scripts%}
<script type="text/javascript" src="{{ url_for('static', filename='js/retrieve-data.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/book.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{%endblock%}
{% block content %}
 <div class="col-sm-3 search-container">
    <div class="row content">
      <div class="side-nav">
        <div class="container-searchbar">
          <input type="search" class="form-control" placeholder="Search">
        </div>
        <div class="container-filter">
          <h2>Filter</h2>
          <ul filter-list>
            <li class="filter-item">
              <p>test</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-9 container-fluid book-container">
      <ul class="book-list" id="results"></ul>
  </div>
{% endblock%}