{% extends "base.html"%}

{% block title%}Home{% endblock%}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/book.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/searchbar.css') }}">
{%endblock%}

{%block scripts%}
<script type="text/javascript" src="{{ url_for('static', filename='js/retrieve-data.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/book.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/category.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{%endblock%}
{% block content %}
 <div class="col-sm-3 search-container">
  <form id="search-form" action="/database/filter" method="get">
      <div class="container-searchbar">
        <h1>Book Lookup</h1>
        <input type="search" class="form-control" id="search-bar" name="query" placeholder="Search">
      </div>
      <div class="container-filter">
        <h2>Filters</h2>
        <ul class="filter-list"></ul>
      </div>
    </form>
  </div>

  <div class="col-sm-9 container-fluid book-container">
      <ul class="book-list" id="results"></ul>
  </div>
{% endblock%}