<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/body.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/navbar.css') }}">
    {%block styles%}{% endblock%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock%}
</head>
<body>
  <div class="container-fluid" id="navigation-bar">
   <a class="navbar-brand">Edit Database</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown contact-dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" arias-haspopup="true" aria-expanded="false">Contact</a>
          <div class="dropdown-menu contact-dropdown-content" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://github.com/kcmurray1">Github</a>
            <a class="dropdown-item" href="https://www.linkedin.com/in/kristian-murray-4777a3247">LinkedIn</a>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
  {% block content %}{%endblock%}

</body>
</html>