.container-fluid{
    background-color: rgb(47, 51, 44);
}

.container-fluid a {
    float: left;
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding-left: 40px;
}

.search-container {
    background-color: rgb(150, 148, 148);
}

li {
    list-style-type: none;
}

.contact-dropdown {
    position: relative;
}

.contact-dropdown-content {
    background-color: rgb(127, 190, 245);
    position: absolute;
    border-top: 5px;
    z-index: 1;
}
